<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Page</title>
</head>
<body>
    <h2>Welcome Administrator</h2>

        <!-- UI for loggin -->
        <div>
            <form>
                <label for="adminName">Administrator Name</label>
                <input type="text" placeholder="Enter User Name" name="adminName" required><br>
    
                <label for="adminPass">Password</label>
                <input type="text" placeholder="Enter Password" name="adminPass" required><br>
                
                <button type="submit">Login</button>
                
            </form>
        </div>
        <!-- UI for loggin -->
</body>
</html>
