<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
</head>
<body>
    <div class="container">
        <h2>Admin Login Page</h2>
        <form [formGroup]="loginRef" (ngSubmit)="checkUser()" class="form-group">
            <label>Admin User</label>
            <input type="text" formControlName="user" class="form-control"/><br/>
            <label>Password</label>
            <input type="password" formControlName="pass" class="form-control"/><br/>
            <input type="submit" value="Sign In!" class="btn btn-success"/>
            <input type="reset" value="reset" class="btn btn-info"/>
        </form>
        <br/>
        <span style="color:red;">{{msg}}</span>
    </div>
    {{msg}}
</body>
</html>
