<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
</head>
<body>
    <h2>Welcome Employee</h2>
    

        <!-- UI for loggin -->
        <div>
            <div class="container">
                <h5>Employee Login</h5>
                <form [formGroup]="emplogin" (ngSubmit)="checkUser()" class="form-group">
                    <label>Employee Email-ID</label>
                    <input type="text" formControlName="employeeID" class="form-control"/><br/>
                    <label>Password</label>
                    <input type="text" formControlName="employeePassword" class="form-control"/><br/>
                    <input type="submit" value="Login" class="btn btn-success"/>
                    <input type="reset" value="reset" class="btn btn-info"/>
                </form>
                <br/>
            </div>
        </div>
        {{msg}}
        <!-- UI for loggin -->
</body>
</html>
