<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Page</title>
</head>
<body>
    <h2>Welcome Employee</h2>
    

        <!-- UI for loggin -->
        <div>
            <form>
                <label for="empName">Employee Name</label>
                <input type="text" placeholder="Enter Employee Name" name="empName" required>
    
                <label for="empPass">Password</label>
                <input type="text" placeholder="Enter Password" name="empPass" required>
                
                <button type="submit">Login</button>
                
            </form>
        </div>
        <!-- UI for loggin -->
</body>
</html>
